--gradient-color-1: #741132;
--gradient-color-2: #A01941;
--gradient-color-3: #5A0E26;
--gradient-color-4: #40091B;

//
--gradient-color-1: #1A1F4B;
--gradient-color-2: #282F78;
--gradient-color-3: #121439;
--gradient-color-4: #0C0E25;

//

--gradient-color-1: #4A0000;
--gradient-color-2: #720000;
--gradient-color-3: #580000;
--gradient-color-4: #320000;

//

--gradient-color-1: #6B0B0B;
--gradient-color-2: #8C1010;
--gradient-color-3: #520909;
--gradient-color-4: #350505;

//

--gradient-color-1: #680063;
--gradient-color-2: #9A0093;
--gradient-color-3: #4C0049;
--gradient-color-4: #2E002C;