/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
html {
	background-color: #080808;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Inter-Regular.woff2') format('woff2'),
		url('/fonts/Inter-Regular.woff') format('woff');
	font-display: swap;


}
:root {
--gradient-color-1: #041E42;
	--gradient-color-2: #003366;
	--gradient-color-3: #004A8F;
	--gradient-color-4: #0061B5;
}
@media (min-width: 1024px) {
	.lg\:fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: auto;
		width: 50%;
		height: 105vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.lg\:ml-auto {
		margin-left: 40%;
	}
}
body {
	font-family: 'Inter', sans-serif;
	color: #ffffff;
}

.container {
	width: 100%;
	min-height: calc(100vh - 80px);
}
