---
import portraitImage from '../../assets/Portrait.jpg';
import { Image } from 'astro:assets';
import GradientButton from '../ui/Gradient/GradientButton.astro';
const { name, nickname } = Astro.props;
---

<div
    class="lg:w-2/5 lg:fixed lg:h-screen flex flex-col justify-center items-center px-8 pt-8 lg:pt-0 pb-16"
>
    <div class="profile-image-container mb-12 flex justify-center w-full ">        
        <Image
            src={portraitImage}
            alt={name}
            loading="eager"
            class="w-72 object-cover rounded-[36px] border-2 border-gray-700/30"
        />
    </div>
    <div class="text-content mb-1 px-0">
        <div class="flex justify-center">
            <h1
                class="text-[#FFFFFF] text-6xl whitespace-nowrap font-medium opacity-60 antialiased drop-shadow-xl"
            >
                {name}
            </h1>
        </div>
        <h2 class="text-[#C1C1C1] text-4xl mt-1 mb-2 opacity-50">{nickname}</h2>
        
        <div class="social-links flex gap-3 w-72 justify-start mt-2">
            <slot />
        </div>

        <!-- Gradient theme buttons -->
        <div class="gradient-controls mt-8">
            <GradientButton/>
        </div>
    </div>
</div>
