---
// src/components/CourseCard.astro
const { title, provider, year, description } = Astro.props;
---

<div class="experience-item hover-card ">
    <div class="mb-3">
        <h3 class="text-[#FFFFFF] text-xl font-medium">{title}</h3>
        <span class="text-[#C1C1C1] text-sm">{provider}, {year}</span>
    </div>
    <p class="text-[#FFFFFF] opacity-70">
        {description}
    </p>
    <slot />
</div>