<div class="mx-auto flex max-w-sm items-center justify-between nav_links">
    <a href="/">Home</a>
    <a href="/about">Projects</a>
    <a href="/book-reviews">Book Reviews</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contact</a>

</div>
<style>
    .nav_links {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        background-color: #f0f0f0;
        opacity: 0.9;
    }
    .nav_links a {
        text-decoration: none;
        color: #333;
    }
</style>;
